.bg-img-que {
    width: 100%;
    max-width: 390px;
    height: 100%;
    background-image: url('https://github.com/wwan13/squid-psychology-web/assets/64270501/d31815c5-6ad6-4265-92c6-d0449a08e934');
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.que-wrap {
    width: 330px;
    height: 180px;
    /* background-color: aliceblue; */
    margin-top: 57px;
    white-space: pre-wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.answer-wrap {
    margin-top: 350px;
    width: 330px;
    height: 160px;
}